In [1]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import KFold
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
pizza = pd.read_csv(r"C:\Users\Anonymous\Desktop\Advance Statistics\Datasets\pizza.csv")

In [3]:
pizza.head()

   Promote  Sales
0       23    554
1       56   1339
2       34    815
3       25    609
4       67   1600

In [4]:
X = pizza[['Promote']]
y = pizza['Sales']